<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

<body>
    <div id=app>
        <p v-bind:title='title'>
            {{message}}
        </p>
        <transition name = 'fade'>
            <p v-if='seen'>
                    {{message}}
            </p>
        </transition>
        <ol>
            <li v-for="item in todo">
                {{item.text}}
            </li>
        </ol>

        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id = app2>
        <p>{{message2}}</p>
        <input v-model ="message2">
        <button v-on:click="reverse">Reverse 2</button>
        
        <ol>
            <li v-for="w in list" >{{w.word}}</li>
        </ol>

    </div>
    <div id=app3>
        <ol>
            <todo-item
                v-for= "item in glist"
                v-bind:cart= "item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
</body>

<script>
    var app = new Vue ({
        el: '#app',
        data: {
            message: 'This is here',
            title: "you loaded this page " + new Date().toLocaleString(),
            seen: true,
            todo: [
                {text: "The First"},
                {text: "The Second"},
                {text: "The Third"},
                {text: "The Fourth"}
            ]
        },
        methods: {
            reverseMessage: function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    var app2 = new Vue ({
        el: '#app2',
        data: {
            message2: 'This is here agian',
            seen: false,
            list: [
                {word: "first"},
                {word: "Second"},
                {word: "Third"},
                {word: "Fourth"}

            ]
        },
        methods: {
            reverse: function(){
                this.message2 = this.message2.split('').reverse().join('');
                // if (this.seen == false){
                //     this.seen = true;
                // }else{
                //     this.seen = false;
                // }
            }
        }
    })

    Vue.component('todo-item', {
        props:['cart'],
        template: '<li>{{cart.text}}</li>'
    })

    var app3 = new Vue({
        el: "#app3",
        data: {
            glist: [
                {id: 0, text: "orange"},
                {id: 1, text: "apple"},
                {id: 2, text: "banana"},
                {id: 2, text: "raspberry"}
            ]
        }
    })

    
</script>

</html>